<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Bing search</th>
      <th>Title</th>
      <th>Description</th>
      <th>URL</th>
      <th>Download</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    
      <tr>
        <td><%= product.Bing_search %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.url %></td>
<td><%= link_to "Download as CSV", download_path(product, :format => "csv") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_product_path %>
